.jumbotron {

	background-color: Lightskyblue;
	color:black;
	margin-top: 50px;
}

.footer{
background-color: Darkslategray;
color: white;
margin-bottom: 0px;
margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;

}

.font-address-icon {
	padding-right: 10px;
}



