.jumbotron {
  background-color: #fcba03;
  color: black;
  @incluide margenes(50px, 0px); }

.footer {
  background-color: #2f4f4f;
  color: white;
  @incluide margenes(10px,0px); }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

.font-address-icon {
  padding-right: 10px; }
