$gray: #2f4f4f;
$blue: #0f8991;
$yellow: #fcba03;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $yellow;
	color:black;
	@incluide margenes(50px, 0px);
}

.footer{
background-color: $gray;
color: white;
@incluide margenes(10px,0px);
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;

}

.font-address-icon {
	padding-right: 10px;
}
