.jumbotron {
  background-color: #a3b804;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  background-color: #a3b804;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
}
.font-address-icon {
  padding-right: 10px;
}
