@yellow: #a3b804;

.margenes(@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @yellow;
  color:black;
    .margenes(50px, 0px);
}

.footer{
background-color: @yellow;
color: white;
.margenes(10px,0px);
}

.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva{
  width: 100%;

}

.font-address-icon {
  padding-right: 10px;
}
